# Introduction to Data Science 
# Inclass Activity for Lecture 24: Time Series
*COMP 5360 / MATH 4100, University of Utah, http://datasciencecourse.net/*

In [1]:
# General Imports and Set-up

import numpy as np
import pandas as pd
import pandas_datareader
import yfinance as yf
from datetime import datetime
from scipy.signal import periodogram

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (10, 6)

### Amazon Stock Data

#### Exercise 1

Download the last five years of Amazon stock data, from Jan. 1 2020 to Jan. 1 2025 (ticker 'AMZN'). Also download the S&P 500 data (ticker 'SPY'). Combine into a single dataframe, and then compute the stock return of both (i.e. divide by the starting value to put them on the same scale).

In [2]:
# Your Code Here

#### Exercise 2

Now plot the stock return of both series. How has Amazon performed relative to the baseline of the S&P 500? Do you notice any interesting patterns?

In [3]:
# Your Code Here

Your answer here.

### Air Passenger Data

Now let's explore a time series data set giving the number of airline passengers per month from 1949 to 1960. The data is available on Kaggle https://www.kaggle.com/datasets/rakannimer/air-passengers/ but has also been saved as a csv in the lecture folder.

In [4]:
#imports and setup

df = pd.read_csv("AirPassengers.csv")
df.tail()

       Month  #Passengers
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

#### Exercise 3

Plot the data, and also plot rolling averages of the data which smooth out the time series. What do you notice about this data?

In [5]:
# Your Code Here

Your answer here.

#### Exercise 4

Make a periodogram of both the original time series and your smoothed out time series from the previous exercise. What does the frequency distribution look like in the original? How has it changed in the smoothed out version?

In [6]:
# Your Code Here

Your answer here.